/* Empty. Add your own CSS if you like */
 .bar.bar-positive {
    border-color: #FFFF00;
    background-color: #061433;
    background-image: linear-gradient(0deg, #0c63ee, #0c63ee 50%, transparent 50%);
    color: #FFF; }
 
 
.tabs-positive > .tabs, .tabs.tabs-positive {
 	border-color: #FFFF00;
    background-color: #061433;
    background-image: linear-gradient(0deg, #0c63ee, #0c63ee 50%, transparent 50%);
    color: #FFF;
 }  
 
  .tabs-positive > .tabs .tab-item .badge, .tabs.tabs-positive .tab-item .badge {
    background-color: #fff;
    color: #061433; }
    
    .tabs-color-positive .tab-item {
  color: rgba(56, 126, 245, 0.4);
  opacity: 1; }
  .tabs-color-positive .tab-item .badge {
    opacity: 0.4; }
  .tabs-color-positive .tab-item.tab-item-active, .tabs-color-positive .tab-item.active, .tabs-color-positive .tab-item.activated {
    color: #061433;
    border: 0 solid #061433; }
    .tabs-color-positive .tab-item.tab-item-active .badge, .tabs-color-positive .tab-item.active .badge, .tabs-color-positive .tab-item.activated .badge {
      opacity: 1; }
      
      ion-tabs.tabs-color-active-positive .tab-item {
  color: #061433; }
  ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #061433; }
    
    .tabs-striped.tabs-positive .tabs {
  background-color: #061433; }
  
  .tabs-striped.tabs-background-positive .tabs {
  background-color: #061433;
  background-image: none; }
    
.button.button-positive {
    border-color: #FFFF00;
    background-color: #0A245F;
    color: #fff; }
    
.button.button-positive.active, .button.button-positive.activated {
      border-color: #FFFF00;
      background-color: #0A245F;
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); 
      color: #F2BB09;}
      
.bar-positive .button {
    background-color: #0A245F;
    border-color: #0A245F;
    color: #fff;
}

 .bar-positive .button.active, .bar-positive .button.activated {
    border-color: #0A245F;
    background-color: #0A245F;
    color: #F2BB09;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
    
.row .coloreado{
    background-color: #989898;
    color: #fff;
}