<ion-view view-title="Simulacion">
<ion-nav-title>      
Simulacion
</ion-nav-title>
  <ion-content>
    <ion-list>
	    <label class="item item-input">
	    <input type="text" placeholder="Region" ng-model="simulacion.region" value="TACNA">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Operacion" ng-model="simulacion.operacion" value="CREDITOS">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Descripcion Pro." ng-model="simulacion.descripcionpro" value="ACTIVO FIJO">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Descripcion Con." ng-model="simulacion.descripcioncon" value="PRESTAMO ACTIVO FIJO POR S/. 2 000 A 24 MESES">
	  </label>
	  <label class="item item-input">
	    <input type="number" placeholder="Monto" ng-model="simulacion.cantidad">
	  </label>
	<button class="button button-block button-positive" ng-click="simula(simulacion)">
              Ingresar
            </button>
            
    </ion-list>
  </ion-content>
</ion-view>
