<ion-view title="Inicio">
      	<ion-nav-title>
        
       <p id="employeeList" ></p>
				<div id="busy">
				Cargando...
			</div>
		</ion-nav-title>
		<ion-content padding="true">
        <button class="button button-block button-positive" onClick="location.href='#/tab/region'" >
				<i class="icon ion-clipboard"></i> Listar Entidades
			</button>
			
			<button class="button button-block button-positive" onClick="location.href='#/tab/tasaspa'">
				<i class="icon ion-cash"></i> Ver Tasas
			</button>
			<button class="button button-block button-positive" onClick="location.href='#/tab/simulacion'">
				<i class="icon ion-alert"></i> Simulaciones
			</button>
        
        </ion-content>
      </ion-view>